body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #d11111;
    padding: 20px 0;
    text-align: center;
}

header img {
    width: 300px;
    height: auto;
}

#bio,
#discography,
#videos,
#tour-dates,
#contact {
    padding: 50px 0;
}

.album img {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
    transition: transform 0.3s ease;
}

.album img:hover {
    transform: scale(1.1);
}

footer {
    background-color: #333;
    color: #fcfcfc;
    padding: 20px 0;
    text-align: center;
}

.social-links {
    list-style-type: none;
    padding: 0;
}

.social-links li {
    display: inline;
    margin-right: 10px;
}

.social-links li:last-child {
    margin-right: 0;
}

.social-links a {
    color: #fff;
    text-decoration: none;
}

.social-links a:hover {
    text-decoration: underline;
}
